@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&family=Open+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.percent{
    padding: 100px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.percent-image img{
    width: 70%;
    margin-left: 120px;
}
.percent-text-container{
    margin-left: -90px;
    margin-top: -30px;
}
.percent-text p{
    color: #444;
    font-style: italic;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
}
.percent-age-text p{
    color:#37517e;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.percent-age-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 40px;
}
#html{ 
    height: 15px;
    width: 80%;
    background-color: gray;
}
#hunder{
    height: 15px;
    width: 100%;
    background-color: #4668a2;
    animation-name: html;
    animation-duration: 2s;
}
@keyframes html{
    0%{
        width: 0%;
         background-color:gray;
    }
    100%{
        width: 100%;
        background-color: #4668a2;
    }
}

#css{
    
    height: 15px;
    width: 80%;
    background-color: gray;
}
#ninety{
    height: 15px;
    width: 90%;
    background-color: #4668a2;
    animation-name: css;
    animation-duration: 2s;
}
@keyframes css{
    0%{
        width: 0%;
        background-color: gray;
    }
    100%{
        width: 90%;
        background-color: #4668a2
    }
}
#js{
    
    height: 15px;
    width: 80%;
    background-color: gray;
}
#seventy{
    height: 15px;
    width: 75%;
    background-color: #4668a2;
    animation-name: js;
    animation-duration: 2s;
}
@keyframes js{
    0%{
        width: 0%;
        background-color: gray;
    }
    100%{
        width: 75%;
        background-color: #4668a2;
    }
}
#psh{
    
    height: 15px;
    width: 80%;
    background-color: gray;
}
#fifty{
    height: 15px;
    width: 55%;
    background-color: #4668a2;
    animation-name: psh;
    animation-duration: 2s;
}
@keyframes psh{
    0%{
        width: 0%;
        background-color: gray;
    }
    100%{
        width: 55%;
        background-color: #4668a2;
    }
}

@media screen and (max-width:480px) {
    .percent{
        display: flex;
        flex-direction: column;
    }
    .percent-image{
        margin-top: 270px;
        margin-left: -100px;
    }
    .percent-text-container{
        margin-left: 50px;
        margin-top: 20px;
    }
}
@media screen and (min-width:481px) and (max-width:720px) {
    .percent{
        display: flex;
        flex-direction: column;
    }
    .percent-image{
        margin-top: 80px;
        margin-left: -50px;
    }
    .percent-image img{
        width: 60%;
    }
    .percent-text h1{
        width: 80%;
    }
    .percent-text p{
        width: 70%;
    }
    .percent-text-container{
        margin-left: 50px;
        margin-top: 20px;
    }
}
@media screen and (min-width:721px) and (max-width:1024px) {
    .percent{
        display: flex;
        flex-direction: column;
    }
    .percent-image{
        margin-top: 80px;
    }
    .percent-image img{
        width: 60%;
        margin-left: 160px;
    }
    .percent-text h1{
        width: 60%;
        text-align: center;
        margin-left: 50px;
    }
    .percent-text p{
        text-align: center;
        width: 50%;
        margin-left: 70px;
    }
    .percent-text-container{
        margin-left: 150px;
        margin-top: 20px;
    }
}