@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&family=Open+Sans:wght@400;500;600&display=swap');


.service{
    background-color: whitesmoke;
    padding: 100px 0;
}
.service-container{
    margin-top: -60px;
}
.service-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service-header p{
    width: 80%;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: -10px;
    color: #444;
}
.service-header h1{
    font-size: 32px;
    font-family: 'Jost', sans-serif;
    color: #37517e;
    margin-top: 70px;
}

.service-card{
    display: flex;
    justify-content: space-evenly;
}
.service-card-container{
    background-color: white;
    height: 250px;
    width: 270px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 21px 5px rgba(34, 60, 80, 0.05);
}
.service-icon i{
    color: #47b2e4;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 10px;
}
.service-h3 h3{
    margin-left: 25px;
    margin-top: 5px;
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    color: #37517e;
}
.service-p p{
    margin-left: 30px;
    margin-top: -10px;   
    font-size: 14px;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    color: #444;
}
@media screen and (max-width:480px) {
    .service-card{
        display: flex;
        flex-direction: column;
        margin-left: 45px;
    }
}
@media screen and (min-width:481px) and (max-width:720px) {
    .service-card{
        display: flex;
        flex-wrap: wrap;
        
    }
}
@media screen and (min-width:721px) and (max-width:1024px) {
    .service-card{
        display: flex;
        flex-wrap: wrap;
        
    }
}